@import '../../node_modules/foundation-sites/scss/global';
@import '../../node_modules/foundation-sites/scss/util/util';

body, h2, ul, li {
	margin: 0;
}

// Common Styles
.no-padding {
	padding: 0;
}

.clear-fix {
	float: none;
	overflow: hidden;
}

.relative {
	position: relative;
}

// Header styles
.header {
	background-color: #FFFFFF;
}

.brand-details {
	color: #8a8a8a;
	margin-top: 3rem; // TODO: Use vertical align or Foundation's classes if available
}

.brand-name {
	font-size: 6.250rem;
	font-weight: 300;
	color: #444444;
}

@include breakpoint(medium down and landscape) {
	.brand-name {
		font-size: 4.250rem;
	}

	.brand-details {
		margin-top: 1.7rem;
	}
}

@include breakpoint(small down) {
	.brand-name {
		font-size: 2.250rem;
	}

	.brand-details {
		font-size: 0.825rem;
		padding-bottom: 1rem;
		margin-top: 0;
	}
}

.logo {
	color: #FFFFFF;
}

// Navigation styles
.navigation-container {
	background-color: #FAFAFA;
	padding: 0.313rem;
	border-top: 1px solid #E8E8E8;
	width: 100%;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar li {
	padding: 1em;
	border-bottom: 1px solid #CCCCCC;
}

.sidebar li:last-child {
	border-bottom: 0;
}

.sidebar a {
	font-size: 1.1rem;
	text-decoration: none;
}

.dropdown.menu li a {
	font-size: 1.625rem;
	margin: 0.938rem;
	display: inline-block;
}

@include breakpoint(medium down) {
	.dropdown.menu li a {
	    font-size: 1rem;
	    margin: 0.5rem;
	}
}

// @include breakpoint(64em) {
// 	.nav-items {
// 	    margin-left: auto;
// 	}
// }
//
// @include breakpoint(medium and landscape only) {
// 	.nav-items {
// 	    margin-left: 6rem;
// 	}
// }

.menu li a {
	color: #444444;
	-moz-transition: background .2s ease-in;
    -o-transition: background .52s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.menu > li {
	white-space: nowrap;
}

.menu li a:hover {
	color: #fefefe;
	background: #803737;
}

.menu .active > a {
	background-color: #803737;
}

// Offcanvas menu
.off-canvas-menu {
	@include hamburger();
	position: fixed;
    left: 1.025rem;
    top: 1.025rem;
}

#offCanvasMenu .menu > li {
	display: block;
}

// Carousel styles
.carousel {
	height: 28.375rem !important;
}

.carousel img {
	width: 100%;
}

.carousel-message {
	font-size: 4.375rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 62.500rem;
    height: 12.500rem;
    margin-top: -6.250rem;
    margin-left: -31.250rem;
    text-align: center;
}

@include breakpoint(medium down) {
	// @include breakpoint(landscape) {
	// 	.carousel {
	// 		height: 28.475rem !important; // Overriding inline style.
	// 	}
	// }

	// .carousel {
	// 	height: 21.375rem !important; // Overriding inline style.
	// }

	.carousel {
		height: 18.375rem !important; // Overriding inline style.
	}

	.carousel-message {
		font-size: 2.375rem;
	    width: 36.500rem;
	    margin-top: -3.250rem;
	    margin-left: -18.250rem;
	}
}

@include breakpoint(small down) {
	// @include breakpoint(landscape) {
	// 	.carousel {
	// 		height: 18.575rem !important; // Overriding inline style.
	// 	}
	// }

	.carousel {
	    height: 9.975rem !important; // Overriding inline style.
	}

	.carousel-message {
		font-size: 1.375rem;
	    width: 15.5rem;
	    margin-top: -1.85rem;
	    margin-left: -7.25rem;
	}
}

.orbit-bullets {
	margin-top: -39px;
}

.orbit-bullets button {
	margin: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.orbit-bullets button.is-active, .orbit-bullets button:hover {
	background-color: #8C4B4B;
}

// Modal dialogs
.full.reveal {
	padding: 10rem;
}

.full .close-button {
	font-size: 4rem;
}

@include breakpoint(small down) {
	.full .close-button {
	    font-size: 2.5rem;
	}

	.full.reveal {
		padding: 1rem;
	}

	#offCanvasMenu.full.reveal {
		padding-top: 0.8rem;
		padding: 5rem 1rem;
	}

	#offCanvasMenu .menu > li {
		background: #f7f7f7;
		border-bottom: 1px solid #cccccc;
	}

	#offCanvasMenu .menu > li.active {
	    background: #803737;
	}
}

// Gallery Card styles
.gallery-card {
	position: relative;
}

.gallery-card img {
	width: 100%;
	height: 450px;
}

.gallery-card-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.7);
	top: 0;
	left: 0;

	// Animations
	-moz-transition: background .2s ease-in;
    -o-transition: background .52s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.gallery-card-overlay:hover, .gallery-label:hover ~ .gallery-card-overlay {
	background: rgba(255, 255, 255, 0);
	cursor: pointer;
}

.gallery-label {
	width: 300px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    margin-left: -150px;
    margin-top: -24px;
    cursor: pointer;
}

@include breakpoint(medium down) {
	.gallery-card {
		height: 9.375rem;
	}

	.gallery-card img {
		height: auto;
	}

	.gallery-label {
		font-size: 1.250rem;
	}
}

@include breakpoint(medium down) {
	.gallery-label {
		font-size: 0.938rem;
	}
}

// Break
.break {
	position: relative;
	padding: 3.750rem;
}

.break .vertical-line {
	height: 3.125rem;
	width: 1px;
	background-color: transparent;
	margin-left: 50%;
	border-left: 1px solid #cccccc;
}

@include breakpoint(small down) {
	.break {
		padding: 1.750rem;
	}

	.break .vertical-line {
		height: 2.125rem;
	}
}

// Welcome Note
.welcome-note {
	color: #8a8a8a;
	padding: 30px;
}

.welcome button {
	border: 1px solid #cccccc;
	padding: 20px 40px;
	cursor: pointer;

	// Animations
	-moz-transition: background .2s ease-in;
    -o-transition: background .52s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.welcome button:hover {
	background-color: #cccccc;
	color: #ffffff;
}

// Details
.details span {
	color: #8a8a8a;
}

.details img {
	width: 100%;
}

.details h3 {
	padding-top: 30px;
}

.learn-more {
	padding: 15px;
}

// Contact Us
.contact-us-container {
	background-color: #EDEDED;
}

.contact-us {
	padding-top: 50px;
	color: #8a8a8a;
}

// Footer
footer {
	background-color: #EDEDED;
	color: #8a8a8a;
	padding: 20px 20px 100px 20px;
	font-size: 1.2rem;
}
